body {
  font-family: "Roboto", sans-serif;
  background: #f3f3f3;
}

li {
  list-style: none;
}

.dropzone-container {
  display: flex;
  justify-content: center;
  border: 2px solid #ddd dashed;
  margin: 20px auto;
  align-items: center;
  border: dashed #ddd;
  border-radius: 100%;
  height: 165px;
  width: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.accept {
  border-color: #107c10 !important;
}

.reject {
  border-color: #d83b01 !important;
}

.error-thumb {
  color: red;
}

.thumbs {
  position: absolute;
  height: 200px;
  width: 200px;
}

.thumbInner {
  height: 200px;
  width: 200px;
}
